
/* sub header css start */
.subHeader_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .subHeader {
    display: flex;
    flex-direction: column;
  }
  
  .subHeader_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px 10px 10px;
    font-weight: 600;
  }
  .headLine p {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  
  .subHeader_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }

  .subHeader_content .content {
    text-align: center;
  }
  
  .subHeader_content .content p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  
  .subHeader_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    justify-content: center;
  }
  .subHeader_button .button {
    padding: 15px 40px;
    width: 178px;
    text-align: center;
  }

  .subHeader_button .tryForFree{
    background: #4452FE;
    border: 1px solid #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .subHeader_button .learnMore {
    background : #181818;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }

  .subHeader_screens .screen {
    position: relative;
    right: 25px;
    margin-top: 30px;
  }
  