.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 50px;
  gap: 10px;
  color: #ffffff;
}

.contentsTitle {
  text-align: center;
  font-size: 52px;
}

.contentsSubHead {
  font-size: 20px;
  text-align: center;
  padding: 15px 15px 30px 15px;
}

.contentCardDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
