.container {
  align-items: center;
  padding: 0px;
  background: #181818;
}
.topbar {
  width: 1097px;
  height: 119px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menu {
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: #fff;
  width: 393px;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
}

.menuItem {
  color: #FFFFFF;
  text-decoration: none;
}

.loginButton {
  box-sizing: border-box;
  align-items: center;
  padding: 12px 36px;
  width: 139px;
  height: 52px;
  right: 39px;
  border: 1px solid #FFFFFF;
  color: #fff;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.login {
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 67px;
  height: 45px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logoDiv {
  align-items: flex-start; 
  padding: 10px;
  gap: 10px;
  width: 206px;
  height: 78px;
}

